
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<!--
<form asp-controller="Categoria" asp-action="Exibe" method="GET">
    @ViewBag.msg
</form>
-->
