@model FilmeModel
@{
    ViewData["Title"] = "detalhes";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<div class="col-md-6">
    <div class="card flex-md-row mb-4 shadow-sm h-md-250">
        <img class="card-img-right flex-auto d-none d-lg-block" style="width: 200px; height: 250px;" src="~/Imagens/@Model.Imagem" />
        <div class="card-body d-flex flex-column align-items-start">
            <h3 class="mb-0">
                <a class="text-dark" href="#">@Model.Titulo</a>
            </h3>
            <p class="card-text mb-auto">@Model.Sinopse</p>
            
            <a href="#" class="btn btn-success">Comprar Ingresso</a>
        </div>
    </div>
</div>


