@model IEnumerable<FilmeModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutSite.cshtml";
}

<!--
<div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
        <h1 class="display-4 font-italic">Título mais longo para um post destacado</h1>
        <p class="lead my-3">Várias linhas formando uma introdução, informando novos leitores rápido e eficientemente sobre o que é mais interessante, neste post.</p>
        <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue lendo...</a></p>
    </div>
</div>
-->

<main role="main" class="container">
    <div class="row mb-2"><!-- Cards de Filmes Cadastrados -->
        @foreach(var item in Model)
        {
        <div class="card bg-primary m-3" style="width: 18rem;">
            <img src="~/Imagens/@item.Imagem" class="card-img-top" alt="Imagem Cartaz do Filme" />
            <div class="card-body">
                <h3 class="card-title">
                    <a href="~/HomeSite/Detalhes/@item.Id" class="text-white text-decoration-none">
                        @item.Titulo
                    </a>
                </h3>
                <p class="card-text text-white">@item.Sinopse</p>
                <a class="btn btn-dark" href="~/HomeSite/Detalhes/@item.Id">Mais informações</a>
            </div>
        </div>
        }
    </div>    
</main>
