@model TelaAzul.Models.GeneroModel
@{
    ViewData["Title"] = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cadastrar Gênero</h1>

<form method="POST" asp-controller="Genero" asp-action="Salvar">
    <div class="row">
        <div class="col-2 form-group mt-3">
            <label for="id" class="form-label" asp-for="Id"></label>
            <input type="text" id="id" class="form-control" asp-for="Id" readonly />
            <span asp-validation-for="Id" class="alert-danger"></span>
        </div>
    </div>

    <div class="row">
        <div class="col-12 form-group mt-3">
            <label for="nome" class="form-label" asp-for="Nome"></label>
            <input type="text" id="nome" class="form-control" asp-for="Nome" /> 
            <span asp-validation-for="Nome" class="alert-danger"></span>
        </div>
    </div>

    <div class="row mt-3">
        <input type="submit" class="btn btn-dark" value="Cadastrar Gênero" />
        <span class="alert @ViewBag.classe">@ViewBag.msg</span>
    </div>
</form>