<!DOCTYPE html>

<html lang="PT-BR">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    
    <!-- CSS Files -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    
    <link href="~/css/css" rel="stylesheet" />
    <link href="~/css/blog.css" rel="stylesheet" />

    <script src="https://kit.fontawesome.com/c754cc0f48.js" crossorigin="anonymous"></script>

    <title>@ViewData["Title"]</title>
</head>

<body>
    <div class="container">
        <header class="blog-header py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4">
                    <a class="blog-header-logo text-primary text-decoration-none" 
                        href="~/HomeSite/Index">TELA AZUL</a>
                </div>
                <div class="col-4">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Buscar" aria-label="buscar filme" />
                        <button class="btn btn-outline-secondary" type="button" id="buscar">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="btn btn-sm bg-dark text-white" href="#">Entrar</a>
                    <a class="btn btn-sm btn-outline-success ms-2" href="#">Cadastrar-se</a>
                </div>
            </div>
        </header>

        <div class="nav-scroll py-1 mb-4">
            <nav class="d-flex justify-content-between bg-dark p-2 rounded">
                <a class="p-2 text-white text-decoration-none" href="#">Ação</a>
                <a class="p-2 text-white text-decoration-none" href="#">Aventura</a>
                <a class="p-2 text-white text-decoration-none" href="#">Comédia</a>
                <a class="p-2 text-white text-decoration-none" href="#">Drama</a>
                <a class="p-2 text-white text-decoration-none" href="#">Documentário</a>
                <a class="p-2 text-white text-decoration-none" href="#">Romance</a>
                <a class="p-2 text-white text-decoration-none" href="#">Suspense</a>
                <a class="p-2 text-white text-decoration-none" href="#">Sci-fi</a>
                <a class="p-2 text-white text-decoration-none" href="#">Terror</a>
            </nav>
        </div>
    </div>
    
    <div class="container mt-2">
        @RenderBody()
    </div>

    <footer class="blog-footer">
        <a href="https://github.com/pedroHenriqueAmaral/telaAzul" class="text-decoration-none">
            <i class="fa-brands fa-github"></i>
            Github
        </a>
        <p>&copy;Tela Azul - 2023</p>
        <!--<p><a href="#">Voltar ao topo</a></p>-->
    </footer>

    <!-- 
     Principal JavaScript do Bootstrap
     ================================================== 
     Foi colocado no final para a página carregar mais rápido 
    -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/popper.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    
    <script src="~/js/holder.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>

